 
<head> Hi! welcome to HEATCODE1! please input a version of function get_data</head>
<h1>
    get_data is a function that, when passed an integer, will return a list of 0-(integer-1)
</h1>
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
        
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form>
        
            <div class="form-outline mb-4">
                <textarea input type="text" rows="30" name = "username" cols="80"></textarea>
                   </div>
  
       
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </section>
 
</form>
 
</body>
 
</html>

